$width: 60 * 20+20;
$height: 68 * 9+34;

#Map {
    // border: 1px solid red;
    position: relative;
    width: $width + px;
    height: $height + px;
    margin: 20px;

    .avatar {
        width: 30px;
        height: 30px;
        border: 2px solid yellow;
        position: absolute;
    }

    .field {
        width: 80px;
        position: absolute;

        img {
            width: 80px;
            z-index: 1;
            // border: 1px solid red;
        }

        .clickableArea {
            width: 40px;
            height: 68px;
            position: absolute;
            top: 0;
            left: 20px;
        }

        .clickable {
            cursor: pointer;
        }
    }
    .adventure {
        width: 12px;
        height: 12px;

        border: 1px solid white;
        border-radius: 12px;
        position: absolute;
        top: 28px;
        left: 34px;

        &.diff0 {
            background-color: green;
        }

        &.diff1 {
            background-color: yellow;
        }
        &.diff2 {
            background-color: purple;
        }
        &.diff3 {
            background-color: red;
        }
    }
}
