@import "./variables.scss";

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;

    color: white;
    font-family: Sui Generis;

    input {
        background-color: $bgcolor;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        width: 300px;
        font-size: 14pt;
        transition: 0.5s;
        margin: 10px;

        &:focus {
            border: none;
            border-bottom: 1px solid white;
            letter-spacing: 5px;
            outline: none;
        }
    }

    button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 0;
        color: black;
        margin: 10px;
        font-family: Sui Generis;
        font-size: 11pt;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $primary-hover;
        }
    }
}
