$bgcolor: rgb(17, 17, 17);
$primary: rgb(255, 158, 30);
$primary-hover: rgb(255, 211, 115);
$yellow: rgb(255, 228, 154);
$border: rgb(216, 216, 216);
$primary-blue: rgb(60, 167, 255);
$primary-blue-hover: rgb(0, 140, 255);
$disabled: rgb(190, 190, 190);
